.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px 10px;
  background: #50C878;
  box-shadow: 0 0 15px rgba(0, 150, 0, 0.5)
}

.logo {
  width: 40px;
  height: 40px;
  user-select: none;
  -webkit-user-drag: none;
}

.user {
  &_container {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
  }
  &_name {
    color: white;
    font-weight: 600;
  }

  &_icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    &_bgcircle {
      transform: translateX(200px);
    }
    background: white;
    border-radius: 50%;
  }
}
